*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header, main, footer{
    max-width: 900px;
    margin: 1rem auto;

}
header{
    border: 3px double black;
    padding: 10px;
    background-color: grey;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large ;
    color: goldenrod;
    line-height: 2em;
    box-shadow: 0 0 20px black;
}
header picture{
    border:2px ridge #eee;
    padding: 2px;
    margin:auto;
}
h2{
    text-shadow: 1em rgb(59, 53, 53);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid black;
}
footer{
    border: 3px ridge black;
    padding: 10px;
    background-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: goldenrod;
    width: auto;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px black;
}
ul{
    margin: 10px 50px;
}