@media (min-width: 32.5em){
body{
    width:100%;
    padding: 10px;
}

.block,.end {
    background-color: rgb(9, 116, 69);
    color: rgb(236, 175, 78);
    margin: 15px;
    box-shadow: 5px 10px 15px 20px #777;
    width:85%;
}
.block{
    border-radius:7px ;
    padding:2rem;
    font-family: 'DM Serif Display', serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 200px 10px;

}
.block h1{
    font-size: 28px;
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    /*align-content: center;*/
    justify-items:start;
    padding: 3px;
    text-align: center;
    grid-row: 2;
    }
.block image{
    
    grid-column: 1; 
    grid-row: 1/3;
    margin: 10px 8px;
    
    }
}