body{
    width:90%;
    padding: 2%;
}
.block,.end {
    background-color: rgb(20, 120, 151);
    color: rgb(239, 231, 194);
    margin: 15px;
    box-shadow: 5px 10px 15px 20px #777;
    
}
.block{
    border:solid black 4px;
    border-radius:7px ;
    padding:1rem;
    font-family: 'DM Serif Display', serif;
    width:90%;
    
   

}
.block image{
    
    width: 25vw;
    margin-right:3px;

}
.block h1{
font-size: 12px;
padding: 1em;
text-align: center;
}
#center{
    padding:3rem;
    margin:10px 20px;
    font-family: 'Nunito', sans-serif;
}

.end{
    border:solid black 2px;
    border-radius: 5px;
    padding: 3rem;
    font-family: 'Nunito', sans-serif;
}
#center ul{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
}