*{
    margin: 5px;
    padding:10px;
    box-sizing: border-box;
    background-color: rgb(233, 224, 210);
}
header, main, footer{
    width:1040px;
    margin: 10px auto;
    padding: 20px;
}
 /*body{
     box-sizing: border-box;
 }*/
header h1{
    background-color: rgb(28, 27, 27);
    margin-bottom: 15px;
    font-family: 'Bangers', cursive;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    padding:20px;
    text-align: center;
    color:antiquewhite;
    font-size: 50px;

}

 div{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 100px 1fr ;
    width:45%;
   
    align-content: center;
}
h3{
    justify-content: center;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: medium;
    padding: 7px;
}
p{
    font-family: 'Nanum Myeongjo', serif;
    padding: 1em;
}
#mar{
grid-column: 1;
grid-row: 1;
justify-items: center;
align-items: center;
justify-content: center;
align-content: center;
margin: auto;
width: 350px;


}
#come{
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 350px;
}
#dell{

    grid-column: 3;
    grid-row: 1;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 350px;
}
#rep{
    grid-row:3;
    grid-column: 1;

}
#hick{
    grid-row:3;
    grid-column: 2;
}
#white{
    grid-row:3;
    grid-column: 3;
}
footer{
    border: 3px ridge black;
    padding: 10px;
    background-color:rgb(106,101,101);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color:antiquewhite;
    width: auto;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px black;
}
span{
    background-color:rgb(106,101,101) ;
}