@media only screen and (max-width:64rem){
    div{
        grid-template-columns: 2;
        grid-template-rows: 1fr 100px 200px 1fr 100px 200px;

    }
    
    #fam{
        grid-column: 2;
        grid-row: 1;

    }
    #com{
        grid-column: 1;
        grid-row:4/5;
    }
    #tabchoir{
        grid-column: 1;
        grid-row: 2;
        justify-content: center;
        
        }
    #familysearch{
            grid-column: 2;
            grid-row: 2;
            justify-content: center;
        
        }
    #dell{
        
            grid-column: 2;
            grid-row: 4;
            justify-content: center;
            
    }
    #rep{
        grid-column: 1;
        grid-row: 3;

    }
    #Hick{
        grid-column: 2;
        grid-row: 3;

    }
    #White{
        grid-column: 2;
        grid-row:5;
        margin-top: -250px;

    }
}
