body{
    margin: 0;
    padding:0 1em ;
    font-family: 'Joan', serif;
}
.cards{
    display:block;
    border: 1px solid black;
    padding: .75em;
    
    width:inherit;
}
header, footer{
    text-align: center;
}
h1{font-size: 40px;
color:rgb(101,22,22)
}
main{
    background-color: aquamarine;
}
img{

    max-width: 12em;
    margin-left: 2em;
    
}
p{
    max-width: fit-content;
}
@media (min-width: 351px)  {
    .cards{
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        padding: 1em;
    }
    body{
        padding: 2em;
        }
    img{

        max-width: 16em;
    }


@media (min-width: 700px)  {
    .cards{
        width:auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        padding: 1.25em;
        gap: 1em;
        margin:auto;
        }
    body{
            padding: 3em;
            }
    img{

            max-width: 18em;
        }
}