body{
    margin: 0;
    padding:0 1em ;
    font-family: 'Joan', serif;
    box-shadow: 4px black;
   width:fit-content;
}
.cards{
    display:block;
    padding: .5em;
    margin: 1em;
    
    
}
header, footer{
    text-align: center;
}
h1{font-size: 40px;
color:rgb(101,22,22)
}
main{
    background-color: aquamarine;
    
    border: 1px solid black;
}
img{

    max-width: 10em;
    margin: 0.5em;
    border: 3px solid grey;
    box-shadow: .3rem rgb(39, 36, 36);

    
    
}
h2{
    padding: .5em;
    margin: 1em .5em -1em .5em;
    text-align: left;
}
p{
    width:auto;
    padding: 1em;
    text-align: center;
}
@media (min-width: 360px)  {
    .cards{
        display:grid;
        width: 75%;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        padding: 1em;
    }
    body{
        padding: 2em;
        }
        img{
            max-width: 14em;
        }
   

@media (min-width: 700px)  {
    .cards{
        display:grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1.25em;
        gap: 1em;
        margin:auto;
    }
    body{
        padding: 3em;
    }
}