/*General display*/
*{
    box-sizing: border-box;
    margin:1rem .3rem;
    background-color:#646536;
    width:320px;
}
/*header*/
header #maintop {
    background-color:#646536;
   
    padding: 2vw;
}
header div #datespan{
    background-color: rgba(197, 34, 48,0.09);
   /* border: 2px solid black;*/
    padding:.3vw;
    /*position: relative;
    margin-left: 20%;
    margin-top: -4.1rem;*/
    
}
header div #announcement{
    
    padding: .3rem;
    background-color: #f05d5e;
    color:#e7dfc6;
    margin:1rem .3rem;
    font-size: 1.2rem;
    line-height: 2rem;
}
header div div #logo{
    display:inline;
    border: 2px solid black;
    width: 20%;
    
}
header div div h1{
    float: right;
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    text-align:left;
    padding:.5rem;
    margin: 0 .3rem;
    text-align: center;
}

.clearfix{
    overflow:auto;
}
nav ul{
    display:none;
    
}

nav ul.open{
    display:block;
    list-style-type: none;
    padding: 0;
    margin: 1vw;
}
nav #hamb_button{
    border: none;
    background-color:transparent;
    margin: .2rem 0;
}
#insta, #twitter{
    display: inline;
    width:3rem;
    box-shadow: 3px #777;
    border: 2px solid #333;
}
#hamb_button span:nth-child(1){
    display: block;
    font-size: 2rem;
    font-weight: bold;
}
#hamb_button span:nth-child(2){
    display: none;
}
#hamb_button.open span:nth-child(1){
    display: none;
}
#hamb_button.open span:nth-child(2){
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

nav ul li a{
    display: block;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

}
.hov:hover{
    background-color: #e9f1f7;
}
/*main*/
#event, #weather, #news_release,#spotlights,#join {
    
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: fit-content;
    
    padding:2vw;
    margin: .5rem .3rem;
}
#hero{
    
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: fit-content;
    
    margin: .5rem .3rem;
    
}
.grid #join{
    display: none;
}
#spotlights{
    display: block;
    width: fit-content;
}
#spot1, #spot2,#spot3{
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin: .2rem .3rem;
    padding: .3rem;
    
}
#spot3{
    display:none;
}
#call{
    position: absolute;
    margin-top:-50px;
    margin-left: 20px;
    background-color: #f05d5e;
    border-radius: 2px solid black;
    width: 250px;
    height:35px;
    padding: .5rem;
    color:#E7DFC6;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-justify: center;
    
}
.clearfix #logo{
    width:50%;
}
/*footer*/
footer{
    padding:.3rem;
    margin: 0 auto;
    background-color: #646536;
    border:2px solid #777;
    width: fit-content;
    
}
footer div.end{
    background-color:rgba(197, 34, 48,0.09);
    border-radius: 1.5px solid #333;
    padding: 2rem;
}