* {
    
    margin:0;
    padding:.5rem;
    background-color: rgb(110, 172, 151);
    
}
header h1 {
    display:block;
    text-align: center;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: brown;
    margin: 1em;
}

p, div,#today{
    display: block;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}
#current-temp{
    border:2px dotted red;
    font-size: 1.8rem;
}
button{
    width: 8rem;
    padding: .8em;
}