@media screen {

        
*{
    margin: 0;
    padding:1em;
    box-sizing: border-box;
    background-color: #E3D26F;
} 
h1{font-family: 'Dosis', sans-serif;
    color:#984447;
    background-color:#d0e1e1 ;
    padding: 1rem;
    font-size: 80px;
    text-align: center;
}
div img{
    width: 300px;
}

nav ul{
    display:flex;
    list-style-type: none;
    overflow: hidden;
   
}
nav li{
    flex: 1 1 100%;
    text-decoration: none;
}
main{
    display: grid;
    grid-template-columns: repeat(5 1fr);
}
.center .hero{
    grid-column: 2/4;
    border: solid red 2px;
}
.left{
    grid-column: 1/2;
}
.right{
    grid-column: 4/5;
}
}