@media only screen and (min-width:450px){
    *{max-width: 90vw;}
nav ul{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    width:fit-content
}
nav ul li{ 
    flex:1 1 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    max-width: inherit;
}
#personas{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: #508CA4;

}
#personas img{
    grid-column: 1;
}
#personas h3,#personas p{
    grid-column: 2;
    align-content: end;
    align-items: center;
    justify-content: center;

}#personas h3{
    margin-bottom: -1em;
}
}

