@media only screen and (min-width:300px){
   nav{
    display: flex;
    flex: block;
   } 
   header h1{
    background-color: rgb(28, 27, 27);
    margin-bottom: 15px;
    font-family: 'Bangers', cursive;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    padding:20px;
    text-align: center;
    color:antiquewhite;
    font-size: 50px;
   }
   h3{
    justify-content: center;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: medium;
    padding: 7px;
}
p{
    font-family: 'Nanum Myeongjo', serif;
    padding: 1em;
}


}